<div class='nested-fields form-inline' style='display:inline;'>
  <%= f.text_field :name, :placeholder => 'Nom', :label => false, class:"form-control" %>
  <%= f.text_field :color, :placeholder => 'Couleur', :label => false, class:"form-control mr-2" %>
</div>